.homepage-container {
    background-image: url('/src/assets/images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.calendar-container {
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 85%;
}

.calendar-card {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4D4D4D;
    height: 100%;
    border-radius: 12px;
}

.calendar {
    padding: 50px;
    align-self: center;
    /* background-color: rgba(18, 18, 18, 0.4);
    border: 1px solid #4D4D4D; */

}


.rbc-toolbar .rbc-btn-group button {
    color: white;
}

.rbc-toolbar .rbc-btn-group button:hover {
    color: white;
    background-color: #00BA9D;
}

.rbc-toolbar button.rbc-active {
    background-color: #00BA9D;
}

.rbc-toolbar button.rbc-toolbar-btn:active {
    background-color: #00BA9D;
}

.rbc-button-link {
    z-index: 20;
}

.popup-form {
    z-index: 999;
    opacity: 100;

}

.modalBtn {
    border: none;
    height: 40px;
}

.modalBtn:hover {
    background-color: #00BA9D;
    color: white;
}

.modalBtnExt {
    border: none;
    height: 40px;
}

.modalBtnExt:hover {
    background-color: #007bff;
    color: white;
}


.modalBtndelete {
    border: none;
    height: 40px;
}

.modalBtndelete:hover {
    background-color: #dc3545;
    color: white;
}

.rbc-calendar {
    height: 100%
}

.rbc-time-view {
    max-height: 100%;
    overflow-y: scroll;
}

.rbc-time-view {
    .rbc-label {
        display: none;
    }

    .rbc-allday-cell {
        height: calc(100vh - 98px);
        max-height: unset;
    }

    .rbc-time-content {
        display: none;
    }
}

.calendarSearchBar {
    width: 800px;
    display: flex;
    text-align: center;
    align-self: center;
    gap: 10px;
}


.table-container-employeetoday {
    max-height: 400px;
    overflow-y: auto;
    border: 2px solid #000;
}

.tablelistemployeetoday {
    width: 100%;
    border-collapse: collapse;
}

.listemployeetodayhead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}