.peoplemain {
  background-image: url('/src/assets/images/bg.png');
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
}

.peopletablehead {
  padding-right: 100px;
  padding-top: 100px;
  padding-right: 100px;
  width: 70%;
  margin-left: 50px;
  height: auto;
  position: relative;
}

.table-container {
  /* overflow-y: auto; */
  overflow: hidden;
  outline: 1px solid black;
  /* max-height: calc(100vh - 250px); */
  background-color: black;
  /* Adjust the max height as needed */
}

.theadpeople {
  background-color: #666666;
  margin-bottom: 10px;
}

.theadpeople,
th {
  background-color: #666666;
  font-weight: bold;
  position: sticky;
  margin-top: 0;
  padding-top: 0;
  top: 0;
  outline: 3px solid black;
  /* z-index: 1; */
}

.theadpeople,
th,
td {
  padding: 12px;
  text-align: left;
  outline: 1px solid black;
  width: 150px;
  /* Set a fixed width for the cells */
  overflow: hidden;
  /* Hide content that exceeds the fixed width */
  white-space: nowrap;
  /* Prevent text from wrapping */
  text-overflow: ellipsis;
  /* Display ellipsis (...) for overflowing text */
}

.tablepeople {
  border-collapse: collapse;
  width: 100%;
  outline: 1px solid #000;
  background-color: white;
  table-layout: fixed;
}

.tbodypeople {
  overflow-y: auto;
  /* max-height: calc(100vh - 300px); */
  /* Adjust the max height as needed */
}

.Tablelistpeople {
  display: flex;
  justify-content: start;
  color: white;
  font-size: 40px;
}

.search-people {
  width: 40%;
  position: relative;
}

.form-control {
  padding-left: 40px;
  /* Adjust padding to accommodate the search icon */
  color: #000;
}

.search-icon {
  position: absolute;
  padding: 5px;
  top: 45%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
  z-index: 99;
}

.search-icon:hover {
  background-color: #ccc;

}

.search-people:hover .search-icon {
  opacity: 1;
  color: #000000;
}

.btnpeopleadd {
  width: 100px;
}

.tablepeople {
  border-collapse: collapse;
  width: 100%;
  outline: 1px solid black;
  background-color: white;
  table-layout: fixed;
  /* Set table layout to fixed */
}

table th {
  height: 100%;
}