.peoplemain {
  background-image: url('/src/assets/images/bg.png');
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
}

.peopletablehead {
  padding-right: 100px;
  padding-top: 100px;
  width: 70%;
  margin-left: 50px;
  height: auto;
  position: relative;
}

.search-people {
  width: 40%;
  position: relative;
}

.form-control {
  padding-left: 40px;
  /* Adjust padding to accommodate the search icon */
  color: #000;
}

.search-icon {
  position: absolute;
  padding: 5px;
  top: 45%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
  z-index: 99;
}

.search-icon:hover {
  background-color: #ccc;

}

.search-people:hover .search-icon {
  opacity: 1;
  color: #000000;
}

.btnpeopleadd {
  width: 100px;
}

.Tablelistpeople {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
}



/* Table start */


.table-container-people {
  overflow-y: auto;
  max-height: 75vh;
  /* Set a maximum height for the table container */
  position: relative;
}


.tablepeople {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  background-color: white;
  border: 2px solid #000;
}

.theadpeople {
  background-color: #666666;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;

}

.theadpeople th {
  font-weight: bold;
  padding: 12px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.theadpeople,
th,
td {
  padding: 12px;
  text-align: left;
  outline: 1px solid black;
  width: 150px;
  /* Set a fixed width for the cells */
  overflow: hidden;
  /* Hide content that exceeds the fixed width */
  white-space: nowrap;
  /* Prevent text from wrapping */
  text-overflow: ellipsis;
  /* Display ellipsis (...) for overflowing text */
}


.tbodypeople {
  max-height: calc(75vh - 40px);
  /* Adjust the max height based on the header height */
  overflow-y: auto;
}